.section {
    display: grid;
    grid-template: auto / auto;
    img {
        margin: 0 auto;
        width: 100%;
        height: 92vh;
        background-size: cover;
    }
    .image {
        margin: 0 auto;
        width: 135vh;
    }
    h1{
        text-align: center;
    }
}

