$main-color:#00b7bf;
$second-main-color:#96d0a5;
$main-color-glass:#00b7bf73;
$text-color-2:#a8a8a8;

$bg-color:#fff;
$bg-color-2:#f9f9f9;
$bg-color-3: #C4C4C4;

$default-text-color:#1d1d1d;

$border-color: #e3e3e3;
$error-color: #FF4C42;
$background-backdrop:linear-gradient(180deg, rgba(4, 183, 190, 0.75) 0%, rgba(144, 207, 165, 0.75) 100%);
$background-glass-white:rgba(255, 255, 255, 0.6);

$disabled: rgba(102, 101, 97, 0.7);
