@import "./breakpoints";
@mixin f1(){
  font-size: 55px;
}
@mixin f2(){
  font-size: 48px;
  @media (max-width: $md) {
    font-size: 36px;
  }
}
@mixin f3(){
  font-size: 32px;
  @media (max-width: $md) {
    font-size: 26px;
  }
}
@mixin f4(){
  font-size: 18px;
  @media (max-width: $md) {
    font-size: 14px;
  }
}

@mixin f5(){
  font-size: 16px;
  @media (max-width: $md) {
    font-size: 14px;
  }
}
@mixin f6(){
  font-size: 14px;
  @media (max-width: $md) {
    font-size: 12px;
  }
}
